@use './../../../../public/styles/colors.scss';

main {
    display: flex;
    flex-direction: column;
}

#cartel-big{
    p{
        margin-top: 10rem;
        font-size: 5rem;
        justify-content: center;
        align-items: center;
        color: colors.$main-color
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contenedor-forms {
    width: 100%;
    height: 70svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid colors.$main-color;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        color: colors.$main-color;
        margin: 0 0 1rem;
    }

    .loginRegisterContainer {
        position: fixed;
    }

    form {
        display: flex;
        flex-direction: column;

        >* {
            margin: 0 0 2rem 0;
        }

        input[type=text], input[type=password], input[type=email] {
            width: 30rem;
            border: none;
            outline: none;
            border-bottom: 1px solid colors.$secondary-color;
            font-size: 1.1rem;
        }

        #name {
            display: flex;
            width: 30rem;
            justify-content: space-between;
            input {
                width: 14rem;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            button {
                font-size: 1.1rem;
                background-color: colors.$secondary-color;
                color: rgb(17, 17, 17);
                border-radius: 20px;
                width: 48%;
                border: none;
                height: 2.3rem;
                cursor: pointer;
                transition: 0.3s;
            }

            button:hover {
                background-color: colors.$main-color;
            }
        }
    }
}

.alert {
    margin: auto;
    position: center;
    font-size: large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}