<main>
    <table>
        <thead>
            <td>1/2 hora<hr></td>
            <td>1 hora<hr></td>
            <td>Dia<hr></td>
        </thead>
        <tbody>            
            @for (fee of feesService.fees; track $index) {
                <td class="row">
                    <div>
                        <p>${{ fee.value }}</p>
                        <button (click)="editFee(fee.type)">MODIFICAR</button>
                    </div>
                </td>
            }            
        </tbody>
    </table>
</main>