@use './../../../../public/styles/colors.scss';


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
}

table {
    width: 50%;
}

.row {
    font-size: 2rem;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        * {
            height: 3rem;
        }
    }
}

td {
    width: 33%;
    text-align: center;
    height: 5rem;
}

thead {
    font-size: 2.5rem;
    font-weight: bold;
}

button {
    color: black;  
    background-color: rgb(180, 173, 215);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: large;
    border: 2px solid rgb(8, 8, 8);
    margin-top: 2rem;
}

button:hover{
    background-color: colors.$main-color;
    transition: 200ms;
    cursor: pointer;
}
