<main class="flex-column-center">
    <table>
        <thead>
            <td>Numero<hr></td>
            <td>Disponibilidad<hr></td>
            <td>Descripción<hr></td>
            <td>Acciones<hr></td>
        </thead>
        <tbody>
            @for (slot of parkingService.slots; track $index) {
                <tr>
                    <td class="row"> {{ slot.id }} </td>
                    <td class="availability row">
                        @if (slot.isAvailable) {
                            <button class="available" (click)="addParking(slot.id)">
                                Disponible
                            </button>
                        } @else if (slot.parking?.plate) {
                            <button class="occupied" (click)="closeParking(slot)">{{ slot.parking?.plate }}</button>
                        } @else {
                            <button class="unavailable">
                                No disponible
                            </button>
                        }
                    </td>
                    <td class="row">{{ slot.description }}</td>
                    <td class="row"> 
                        @if(!slot.parking?.plate){
                            @if(slot.isAvailable){
                                <button (click)="disableSlot(slot)">Deshabilitar</button>
                            } @else {
                                <button (click)="enableSlot(slot)">Habilitar</button>
                            }
                            <button (click)="deleteSlot(slot.id)">X</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button id="add-button" (click)="addSlot()">Agregar cochera</button>
</main>